
.slider {
    height: 760px;
    width: 100%;
    z-index: 0;

    .slider__item {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &.slider__item--1 {
            background-image: url('/img/slider/slide-1.jpg');
            color: #000;
        }

        &.slider__item--2 {
            background-image: url('/img/slider/slide-2.jpg');
        }
    
    }
}

.slider__centered-content {
    display: flex;
    flex-direction: column;
    position: relative;
}



.slider__title {
    font-size: 80px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    margin-bottom: 60px; 
}

.slider__title--snowboardman {
    position: absolute;
    display: block;
    right: -100px;
    top: -200px;
    height: 380px;
    width: 395px;  
}

.slider-button {
    background-color: #000;
    color: #fff;
    display: inline-block;
    padding: 20px 33px;
    line-height: 1;
    font-size: 14px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    margin-left: auto;
    transition: all 0.2s ease-in;
    cursor: pointer;

}

.slider-button:hover {
    background-color: #333333;
}

.slider.owl-carousel {
    height: fit-content;
}

.owl-carousel .owl-wrapper-outer {
    width: 100%;
}

.owl-item {
    width: 100%;
}