
.container-full {
    display: flex;
    flex-direction: column;
    align-items: center ;

    width: 100%;

    margin: 50px 0 200px 0;
}

.subtitle {
    font-size: 14px;
    color: #000;
    text-transform: uppercase;
    margin-top: 20px;

}

.slider-snowboards-holder {
    overflow: hidden;

}

.slider-snowboards.owl-carousel {
    width: 100vw;
    margin-top: 117px;
    padding-bottom: 50px;

}

.slider-snowboards.owl-carousel .owl-stage-outer {
    overflow: visible;
}

.owl-carousel .owl-item img {
    margin-right: auto;
    margin-left: auto;
    width: auto;
    display: block !important;
}

.slider-snowboards .owl-item {
    opacity: 0.5;
}

.slider-snowboards .owl-item.center {
    opacity: 1 ;
}

// Carousel nav buttons 

.slider-snowboards.owl-carousel .owl-nav .owl-next,
.slider-snowboards.owl-carousel .owl-nav .owl-prev {
    color: #000000;
    display: block;
    width: 123px;
    height: 230px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;  
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-top: -50px;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;

}

.slider-snowboards.owl-carousel .owl-nav .owl-next:focus,
.slider-snowboards.owl-carousel .owl-nav .owl-prev:focus {
  outline: none;
}


.slider-snowboards.owl-carousel {
    margin-left: auto;
    margin-right: auto;
}


.slider-snowboards.owl-carousel .owl-nav .owl-next {
    background-image: url('/img/icons/next.svg');
    right: 0;
}

.slider-snowboards.owl-carousel .owl-nav .owl-prev {
    background-image: url('/img/icons/prev.svg');
    left: 0;
}


.caption {
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    color: #000;

}

.slider-snowboards__item {

    text-align: center;

    & img {
        max-height: 405px;
        text-align: center;
        width: auto;
        margin-left: auto;
        margin-right: auto;
        display: block !important; 

    }
}
